.topbar {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.brand-sub {
  margin-top: -8px;
  font-size: 12px;
  color: #8a8a8a;
  font-weight: 700;
}

.logout-btn {
  padding: 10px 26px;
  border-radius: 15px;
  font-weight: 700;
}


.icons {
  padding-right: 10px;
}

.main-display{
  padding: 20px;
  /* border-left: 1px solid #a4a4a4; */
  height: 500px;
}